<div class="container-fluid bg-primary text-white">
    <div class="row">
        <div class="col-11">
            <nav class="navbar navbar-light ">
                <a class="navbar-brand" routerLink="/">
                    <img  height="42" width="42" class="d-inline-block align-top" src='assets/images/saraswati.jpg'>
                    <b>Saraswati</b>
                </a>
            </nav>
        </div>
        <div class="col-1"><a routerLink="/login" class="text-white">Login</a></div>
    </div>
    <div class="row">
        <div class="col-1"><a routerLink="/liveClass" class="text-white">Live Class</a></div>
        <div class="col-7"></div>
        <div class="col-1"><a routerLink="#" class="text-white">Teacher</a></div>
        <div class="col-1"><a routerLink="#" class="text-white">Library</a></div>
        <div class="col-1"></div>
    </div>
</div>
    