<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-2">Email:</div>
        <div class="col-2"><input> </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-2">Password:</div>
        <div class="col-2"><input> </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center" ><button type="button" class="btn btn-primary ">Login</button></div>
        <div class="col-4"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-2 text-center" ><button type="button" class="btn btn-primary ">Login with facebook</button></div>
        <div class="col-2 text-center" ><button type="button" class="btn btn-primary ">Login with google</button></div>
        <div class="col-4"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>
