<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
			<div class="align-items-center">
				<div class="p-1">
					<video #video class="vid" autoplay></video>
				</div>
				<div class="pb-2">
					<button class="btn btn-primary" (click)="capture()">Capture Image</button>
				</div>
				<div class="p-1">
					<canvas #canvas class="vid"></canvas>
				</div>
			</div>     
        </div>
        <div class="col-6"></div>
    </div>
</div>